body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: auto ;
    overflow-x: hidden ;
    margin: 0;
    font-size: 14px;
    background-color: #f7f7f7;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
.container {
    width: 100%;
    margin: auto;
    max-width: 700px;
    display: inline-block;
}

section.bicycle {
    height: 100vh;
    background-size: cover;
    background: url("../img/hero.jpg") no-repeat center;
    position: relative;
}


section.bicycle nav.nav-1 {
    float: left;
    margin-top: 55px;
}

section.bicycle nav.nav-2 {
    float: right;
    margin-top: 55px;
}

section.bicycle img {
    margin-top: 20px;
    position: center;
}

section.bicycle li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}


section.bicycle a {
    font-size: 16px;
    color: #000;
    font-weight: 500;
    margin-top: 5px;
}

.active a :hover {
    color: #68c1a1;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 2px solid #68c1a1;
    border-top: 2px solid #68c1a1 ;
    background: transparent;
    width: available;
}
.active:hover span{
    color: #68c1a1;
}

.container-intro img {
    margin-top: 80px;
	text-align: center;
}
.container-intro h1 {
    margin-top: 50px;
    font-size: 2em;
	text-align: center;
	text-transform: uppercase;
}

.container-intro p {
    margin-top: 60px;
    color: #929191;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
	text-align: center;
	margin-left:150px;
	margin-right:150px;
}

.container-fluid {
   width: 100%;
    margin-top: 100px;
}

.row-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 0;
}
.row-1-1 {
    width: 66%;
    height: auto;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
    position: relative;
}

.row-1-1:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.row-1-1 img {
    width: 100%;
    align-items: center;
    font-size: 0;
}
.block-hidden{
    opacity: 0;
    position: absolute;
}

.row-1-1:hover .block-hidden{
    opacity: 1;
}
.block-hidden {
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index:9999;
    margin-top: -20px;
}



.row-1-2 {
    width: 34%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 0;
    justify-content:space-between;
}

.row-1-2-1 {
    width: auto;
    height: 66%;
    float: top;
}
.row-1-2-1 h2 {
    margin-top: 8%;
    font-size: 24px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: black;
    font-weight: 500;
}

.row-1-2-1 p {
    margin-top: 8%;
    text-align: justify;
    color: gray;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 24px;
}

.row-1-2-2 {
    width: auto;
    float: bottom;
}

.row-1-2-2 img {
    width: 100%;
    font-size: 0;
}

.row-1-2-1 img {
    margin-top: 10%;
}


.row-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 0;
}
.row-2-1 {
    width: 67%;
    height: auto;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
    position: relative;
}

.row-2-1:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.row-2-1 img {
    width: 100%;
    align-items: center;
    font-size: 0;
}
.block-hidden{
    opacity: 0;
    position: absolute;
}

.row-2-1:hover .block-hidden{
    opacity: 1;
}
.block-hidden {
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index:9999;
    margin-top: -20px;
}



.row-2-2 {
    width: 33%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 0;
    justify-content:space-between;
}

.row-2-2-1 {
    width: auto;
    height: 66%;
    float: top;
}
.row-2-2-1 h2 {
    margin-top: 8%;
    font-size: 24px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: black;
    font-weight: 500;
}

.row-2-2-1 p {
    margin-top: 8%;
    text-align: justify;
    color: gray;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 24px;
}

.row-2-2-2 {
    width: auto;
    float: bottom;
}

.row-2-2-2 img {
    width: 100%;
    font-size: 0;
}

.row-2-2-1 img {
    margin-top: 10%;
}


.row-3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 0;
}
.row-3-1 {
    width: 33%;
    height: auto;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
    position: relative;
    font-size: 0;
}

.row-3-1:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.row-3-1 img {
    width: 100%;
    height: 100%;
    align-items: center;
    font-size: 0;
}

.block-hidden{
    opacity: 0;
    position: absolute;
}

.row-3-1:hover .block-hidden{
    opacity: 1;
}
.block-hidden {
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index:9999;
    margin-top: -20px;
}



.row-3-2 {
    width: 33%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 0;
    justify-content:space-between;
}

.row-3-2-1 {
    width: auto;
    height: 66%;
    float: top;
}
.row-3-2-1 h2 {
    margin-top: 8%;
    font-size: 24px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: black;
    font-weight: 500;
}

.row-3-2-1 p {
    margin-top: 8%;
    text-align: justify;
    color: gray;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 24px;
}

.row-3-2-2 {
    width: auto;
    float: bottom;
}

.row-3-2-2 img {
    width: 100%;
    font-size: 0;
}

.row-3-2-1 img {
    margin-top: 10%;
}

.row-3-3 {
    width: 34%;
    height: auto;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
    position: relative;
    font-size: 0;
}

.row-3-3:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.row-3-3 img {
    width: 100%;
    align-items: center;
    font-size: 0;


}
.block-hidden{
    opacity: 0;
    position: absolute;
}

.row-3-3:hover .block-hidden{
    opacity: 1;
}
.block-hidden {
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index:9999;
    margin-top: -20px;
}